body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    background-color: lightgray;
    margin: 1px;
    padding: 2px;
}

@media(min-width: 601px) {

    header,
    main,
    footer {
        display: flex;
        flex-direction: row;

    }
}

@media(max-width: 600px) {

    header,
    main,
    footer {
        display: flex;
        flex-direction: column;
    }
}

.center {
    flex-basis: 50vw;
}

.rest1 {
    flex: 1;
}

.rest2 {
    flex: 2;
}

.rest5 {
    flex: 5;
}

.rest5media {
    background-image:url("/images/filmroll.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    flex: 5;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
}

.container>div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.searchbar {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.bild {
    height: 30%;
    width: 50%;
    margin: 1em;
}

.floating {
    float: left;
}

li {
    display: inline;
}

table {
    border-color: lightgreen;
}

h1 {
    text-align: center;
}

a {
    background-color: green;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    margin-right: 5px;
}

.menu {
    margin-top: 50px;
    margin-left: 200px;
}

a:hover {
    background-color: red;
    color: white;
}

.productcolor {
    color: saddlebrown;

}

.mediabackground {
    background-image: url('../images/filmroll.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}